.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.names ul li{
  display: inline-block;
  margin: 0.5em;
}
.names {
  display: block;
  width: 97%;
}
.names-header {
  color: rgb(102, 11, 11);
  text-shadow: 2px 2px 2px rgb(31, 175, 185);
}
.f {
  color: rgb(245, 238, 180);
  padding: 0.1em 0.5em;
  background-color: rgb(32, 5, 58);
}
.m {
  color: rgb(247, 239, 170);
  padding: 0.1em 0.5em;
  background-color: rgb(87, 4, 4);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #05534f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
