.App {
  text-align: center;
}

.App-header {
  background-color: #163249;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.names-header {
  color: rgb(195, 210, 255);
}

.section-header {
  color: cornsilk;
}

.favorite-names {
  background-color: #457092;
  padding: 0.1em;
  width: 80vw;
  display: block;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-bottom: 1em;
}

.search-bar {
  background-color: aliceblue;
  padding: 0.25em 0 0.25em 0.5em;
  border-radius: 0.25em;
  font-size: 0.9em;
}

.radio-container {
  display: inline-flex;
  overflow: hidden;
  border-radius: 0.2em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin-top: 1em;
}

.radio-input {
  display: none;
}

.radio-label {
  padding: 0.3em 0.6em;
  font-size: 1em;
  color: rgb(100, 44, 93);
  background-color: rgb(45, 104, 72);
  background-color: #457092;
  cursor: pointer;
  transition: background 0.1s;
}

.radio-label:not(:last-of-type) {
  border-right: 0.2em solid rgb(66, 49, 49);
}

.radio-input:checked + .radio-label {
  background-color: #b7defc;;
}

.names ul li {
  display: inline-block;
  margin: 0.5em;
}
.names {
  display: block;
  width: 97%;
}

.f .favorite-button {
  padding: 0.1em 0.4em 0.1em 0.4em;
  font-size: 1em;
  background-color: rgb(178, 195, 248);
  color: rgb(4, 21, 70);
  cursor: pointer;
  border-radius: 0.2em;
  border-style: hidden;
}

.m .favorite-button {
  padding: 0.1em 0.4em 0.1em 0.4em;
  font-size: 1em;
  background-color: rgb(253, 217, 253);
  color: rgb(58, 4, 58);
  cursor: pointer;
  border-radius: 0.2em;
  border-style: hidden;
}
